<!DOCTYPE html>

<html lang="en">

<body>
	<b>Date:</b> {{time.date}}
	<br>
	<b>Time:</b> {{time.time}}
	<br>
	<b>Message:</b> {{message}}

	<br/><br/><br/><br/>
	<a href="/serviceUnavailable">/serviceUnavailable</a><br/>
	<a href="/bang">/bang</a><br/>
	<a href="/insufficientStorage">/insufficientStorage</a><br/>
</body>

</html>
