<!DOCTYPE html>

<html lang="en">

<body>
	<b>Date:</b> {{time.date}}
	<br>
	<b>Time:</b> {{time.time}}
	<br>
	<b>Message:</b> {{message}}

	<br/><br/><br/><br/>
	<a href="/serviceUnavailable">/serviceUnavailable</a><br/>
	<a href="/bang">/bang</a><br/>
	<a href="/insufficientStorage">/insufficientStorage</a><br/>

	<br/><br/>
	<a href="/one">/one</a><br/>

    	<a href="/two">/two</a><br/>

    	<a href="/three/100">/three/100</a><br/>

    	<br/>
    	<a href="/weatherService/France/Lyon">Slow 7000 /weatherService/France/Lyon</a><br/>
    	<a href="/weatherService/France/Nancy">Slow 33000 /weatherService/France/Nancy</a><br/>
</body>

</html>
